<div class="sidebar open" (click)="showSidebar()" #sidebar>
    <div class="logo-details">
        <img src="../../../assets/icons8-dunkin-donuts.svg" alt="logo" class="w-8 mr-2 h-8 object-cover icon">
        <div class="logo_name">Donut's 4U</div>
        <i class='bx bx-menu' id="btn" #closeBtn></i>
    </div>
    <ul class="nav-list">
        <li *ngFor="let item of links">
            <a [routerLink]="item.link">
                <i [class]="item.icon"></i>
                <span class="links_name">{{item.name}}</span>
            </a>
            <span class="tooltip">{{item.name}}</span>
        </li>

        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Prem Shahi</div>
                    <div class="job">Web designer</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <router-outlet></router-outlet>
</section>